# Virtual environment
.venv/
venv/
env/

# Api
api/node_modules/

# Database
db/*.db
db/*.db-shm
db/*.db-wal

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env vars
.env
